<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Condition</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h2>If you accept our terms and conditions</h2>
      <p>It means that you should go to the East of Ukraine and defend our country.</p>
    </div>
  </body>
</html>
