<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Registration or Sign Up form in HTML CSS | CodingLab </title> 
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %} 
      <!-- Display error messages -->
      <div class="error-message">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}
      </div>

      <div class="input-box">
        <label for="id_name">Username:</label>
        <input type="text" id="id_name" name="username" placeholder="Enter your username" required>
      </div>
      <div class="input-box">
        <label for="id_email">Email:</label>
        <input type="text" id="id_email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password1" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <label for="id_confirm_password">Confirm Password:</label>
        <input type="password" id="id_confirm_password" name="password2" placeholder="Confirm password" required>
      </div>
      <div class="policy">
        <span class="checkbox-wrapper">
          <input type="checkbox" id="id_agree" name="agree" required>
        </span>
        <label for="id_agree">I accept all <a href="{% url 'terms_and_condition' %}">terms & conditions</a></label>
      </div>      
      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account?  <a href="{% url 'login' %}"></a>Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
